@font-face {
    font-family: formata-light;
    src: url(./Fonts/formata-light.otf);
}

@font-face {
    font-family: HelveticaNowDisplayLight;
    src: url(./Fonts/HelveticaNowDisplayLight.ttf);
}
  
@font-face {
    font-family: HelveticaNowDisplayXBd;
    src: url(./Fonts/HelveticaNowDisplayXBd.ttf);
}
*{
    box-sizing: border-box;
}
body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}
.logo1{
    margin-top: 35px;
}
.header-content{
    margin-top: 37px;
    margin-left: 10px;
}
.header{
    display: flex;
}
.text-header{
    display: inline;
    font-size: 12px;
    font-family: HelveticaNowDisplayXBd;
}
.text-header1{
    font-family: HelveticaNowDisplayLight;
    font-size: 12px;
}
.container{
    margin: 0 auto;
    max-width: 900px; 
    width: 100%;
}
.container-body{
    display: flex;
    padding-left: 70px;
}
.titulos{
    display: flex;
    flex-direction: column;
    margin-top: 52px;
    line-height: 50px;
}
.titulo1{
    margin-bottom: 0;
    color: #e7281e;
    font-size: 49px;
    font-family: HelveticaNowDisplayXBd;
}
.titulo2{
    margin: 0;
    padding-left: 12px;
    font-size: 70px;
    color: #e7281e;
    font-family: HelveticaNowDisplayXBd;
}
.subtitle{
    font-size: 35px;
    padding-left: 12px;
    margin: 0;
    color: #e7281e;
    font-family: HelveticaNowDisplayLight;
}
.text{
    margin-top: 20px;
    margin-bottom: 21px;
    padding-left: 12px;
    font-size: 18px;
    font-family: formata-light;
}
.card-fecha{
    padding-left: 12px;
}
.fecha{
    display: flex;
    background-color: #fbc300;
    color: #fff;
    width: 315px;
    border-radius: 10px;
    padding: 2px 7px 2px 7px;
}
.hora{
    display: flex;
    color: #fff;
    background-color: #7bc948;
    width: 315px;
    border-radius: 10px;
    margin: 4px 0;
    padding: 2px 7px 2px 7px;
}
.icono{
    padding-left: 5px;
    padding-top: 7px;
}
.plataforma{
    display: flex;
    color: #fff;
    background-color: #5e01d0;
    border-radius: 10px;
    width: 315px;
    padding: 2px 7px 2px 7px;
    margin-bottom: 21px;
}
.title-bold{
    margin: 0;
    font-size: 19px;
    font-family: HelveticaNowDisplayXBd;
    padding-left: 8px;
}
.text-card{
    margin: 0;
    font-size: 18px;
    font-family: HelveticaNowDisplayLight;
    padding-left: 5px;
}
.tips{
    display: flex;
    flex-direction: column;
    padding-left: 12px;
}
.title-tips{
    border: 3px solid #E6281E;
    border-bottom: 0px;
    border-radius: 7px 7px 0 0;
    color: #fff;
    background-color: #E6281E;
    margin: 0;
    font-size: 20px;
    width: 67px;
    font-family: HelveticaNowDisplayXBd;
    padding-left: 9px;
    padding-right: 9px;
}
.content-tips{
    border: 3px solid #E6281E;
    border-radius: 2px 7px 7px 7px;
    padding: 9px 9px 6px 9px;
    width: 265px;
}

.line{
    display: flex;
}
.line img{
    width: 10px;
    height: 10px;
    padding-bottom: 5px;
}
.line .tips-text{
    font-size: 14px;
    margin: 0;
    padding-left: 8px;
    line-height: 10px;
    font-family: formata-light;
}
.esperamos{
    color: #e7281e;
    font-size: 26px;
    margin-top: 18px;
    padding-left: 12px;
    font-family: HelveticaNowDisplayXBd;
}
.row-2{
    display: flex;
    flex-direction: column;
    position: relative;
}
.img-persona{
    display: flex;
    position: absolute;
    bottom: 405px;
    left: 1005px;
}
.logo{
    position: absolute;
    right: 0;
    top: 10px;
    top: 82px;
}
.footer{
    height: 10px;
    border: 2px solid #E6281E;
    background-color: #E6281E;
    position: relative;
    bottom: 6.5px;
    width: 685px;
}
.trapecio{
    width: 369px;
    height: 150px;
    background-color: #D70000;
    border-top-left-radius: 30px;
    position: relative;
    top: 481px;
    right: 1px;
}
.triangulo{
    background-color: #D70000;
    width: 369px;
    height: 180px;
    clip-path: polygon(100% 0%, 100% 25%, 6% 24%);
    position: relative;
    top: 288px;
    right: 1px;
}
/*MOVIL*/
@media screen and (max-width: 470px){
    .container{
        background-color: #E6281E;
        padding-top: 20px;
        position: fixed;
        width: 100%;
    }
    .container-body{
        padding-left: 40px;
    }
    .titulos{
        line-height: 36px;
        padding-left: 40px;
    }
    .titulo1{
        color: #fff;
        font-size: 30px;
    }
    .titulo2{
        color: #fff;
        padding-left: 0px;
        font-size: 50px;
    }
    .subtitle{
        display: none;
    }
    .text{
        padding-left: 40px;
        font-size: 10px;
        margin-top: 15px;
        color: #fff;
    }
    .fecha{
        flex-direction: column;
        width: 90px;
        height: 110px;
    }
    .hora{
        margin: 0 7px 0 7px;
        padding: 0px;
        flex-direction: column;
        width: 90px;
        height: 110px;
        background-color: #fbc300;
    }
    .plataforma{
        flex-direction: column;
        width: 90px;
        height: 110px;
        background-color: #fbc300;
    }
    .icono img{
        width: 25px;
        height: 25px;
        position: relative;
        left: 26px;
    }
    .title-bold{
        text-align: center;
        font-size: 12px;
        padding-left: 0px;
        color: #000;
    }
    .text-card{
        text-align: center;
        line-height: 16px;
        font-size:12px;
        color: #000;
    }
    .card-fecha{
        padding-left: 0;
        background-color: #fff;
        height: 408px;
        width: 331px;
        border-radius: 0px 30px 0px 0px;
        clip-path: polygon(0 8%, 100% 0, 100% 100%, 0% 100%);
    }
    .cuerpo{
        display: flex;
        position: relative;
        top: 70px;
        left: 27px;
    }
    .img-persona{
        left: 244px;
        width: 131px;
        height: 223px;
        bottom: 373px;
    }
    .header{
        background-color: #fff;
        width: 145px;
        height: 35px;
        border-radius: 0px 10px 10px 0px;
    }
    .logo1 img{
        position: relative;
        width: 30px;
        margin-top: 0px;
        bottom: 27px;
    }
    .header-content{
        margin-top: 5px;
        margin-left: 6px;
    }
    .text-header1{
        font-size: 9px;
    }
    .text-header{
        font-size: 9px;
    }
    .trapecio{
        width: 190px;
        height: 60px;
        top: 552px;
        right: 144px;
    }
    .triangulo{
        width: 180px;
        height: 122px;
        top: 464px;
        right: 136px;
    }
    .rectangulo{
        width: 45px;
        height: 366px;
        background-color: #D70000;
        position: relative;
        border-top-left-radius: 25px;
    }
    .logo{
        top: 31px;
        left: 138px;
    }
    .logo img{
        width: 50px;
        height: 30px;
    }
    .footer{
        width: 325px;
        bottom: 12px;
    }
    .esperamos{
        padding-left: 40px;
        margin: 0px;
        position: relative;
        font-size: 14px;
        top: 140px;
    }
    .container--movil{
        padding-left: 0px;
    }
    .tips{
        position: relative;
        top: 80px;
        left: 20px;
    }
    .title-tips{
        border: none;
        background-color: #fff;
        color: #D70000;
        border-radius: 0px;
        padding: 0px;
        text-transform:lowercase;
    }
    .content-tips{
        border: none;
    }
}