@font-face {
    font-family: formata-light;
    src: url(./Fonts/formata-light.otf);
}
@font-face {
    font-family: HelveticaNowDisplayLight;
    src: url(./Fonts/HelveticaNowDisplayLight.ttf);
} 
@font-face {
    font-family: HelveticaNowDisplayXBd;
    src: url(./Fonts/HelveticaNowDisplayXBd.ttf);
}
@font-face {
    font-family: Formata-Medium;
    src: url(./Fonts/Formata-Medium.otf);
}

*{
    box-sizing: border-box;
}

.container{
    max-width: 850px;
    margin-left: 380px;
    margin-top: 40px;
    position: relative;
}
b {
    font-family: HelveticaNowDisplayXBd;
}
p {
    margin: 0px;
}
.header-body {
    display: flex;
    position: relative;
    top: 32px;
}
.header-content {
    font-family: HelveticaNowDisplayLight;
    font-size: 12px;
    line-height: 15px;
    margin-left: 8px;
}
.row-1 {
    margin-left: 68px;
    margin-top: 80px;
    color: #E6281E;
    font-family: HelveticaNowDisplayXBd;
    line-height: 55px;
}
.title1 {
    font-size: 49px;
}
.title2 {
    font-size: 70px;
}
.row-2 {
    margin-left: 68px;
}
.content-row2 {
    background: #E6281E;
    position: relative;
    padding: 10px;
    font-family: formata-light;
    font-size: 20px;
    color: #fff;
    margin-top: 22px;
    border-radius: 12px;
    width: 50%;
}
.flecha {
    position: absolute;
    clip-path: polygon(50% 0%, 0 46%, 100% 44%);
    background:#E6281E;
    top: -12px;
    left: 25px;
    width: 10%;
    height: 45%;
}
.content2-row2 {
    padding-left: 10px;
    margin-top: 32px;
    font-family: formata-light;
    font-size: 18px;
    width: 52%;
}
.content2-row2 b{
    color: #3C3C3C;
    font-family: Formata-Medium;
}
.row-3 {
    display: flex;
    border: 3px solid #E6281E;
    border-radius: 10px;
    width: 38%;
    margin-top: 32px;
    color: #E6281E;
    margin-bottom: 130px;
}
.signo {
    padding: 10px;
    padding-top: 3px;
    padding-bottom: 0px;
    border-right: 3px solid #E6281E;
    font-size: 40px;
    font-family: HelveticaNowDisplayXBd;
}
.row-3-text {
    font-family: formata-light;
    font-size: 14px;
    color: #3C3C3C;
    padding: 8px;
}
.img-rimac {
    position: absolute;
    bottom: -5px;
    right: 0px;
}
.trapecio {
    position: absolute;
    right: 0px;
    bottom: -4px;
}
.manos {
    position: absolute;
    top: 5px;
    right: -17px;
}
.manos img {
    width: 481px;
    height: 677px;
}
.trapecio-img {
    position: absolute;
    bottom: 0px;
    right: 0px;
}
.line {
    background-color: #E6281E;
    border: 2px solid #E6281E;
    width: 100%;
}
.trapecio-movil {
    display: none;
}
@media screen and (max-width: 470px){
    .container {
        margin-left: 0px;
        margin-top: 0px;
    }
    .row-1 {
        margin-left: 48px;
        line-height: 38px;
    }
    .title1 {
        font-size: 29px;
    }
    .title2 {
        font-size: 50px;
    }
    .row-2 {
        margin-left: 48px;
    }
    .content-row2 {
        padding: 8px;
        font-size: 15px;
        width: 70%;
    }
    .flecha {
        top: -9px;
    }
    .content2-row2 {
        font-size: 15px;
        width: 70%;
    }
    .row-3 {
        width: 59%;
    }
    .signo {
        font-size: 30px;
    }
    .row-3-text {
        font-size: 12px;
    }
    .trapecio {
        display: none;
    }
    .trapecio-movil {
        display: inline;
        position: absolute;
        bottom: 0px;
        right: 0px;
    }
    .trapecio-movil img {
        width: 300px;
        height: 600px;
    }
    .trapecio-img {
        display: none;
    }
    .trapecio-img img {
        width: 200px;
        height: 173px;
    }
    .trapecio img{
        width: 250px;
        height: 300px;
    }
    .img-rimac img {
        width: 80px;
        height: 45px;
    }
    .manos {
        display: none;
    }
}
@media screen and (max-width: 380px){
    .row-1 {
        margin-top: 60px;
        margin-left: 38px;
        line-height: 35px;
    }
    .title1 {
        font-size: 25px;
    }
    .title2 {
        font-size: 46px;
    }
    .row-2 {
        margin-left: 38px;
    }
    .content-row2 {
        padding: 8px;
        font-size: 12px;
    }
    .flecha {
        top: -7px;
    }
    .content2-row2 {
        font-size: 12px;
    }
    .row-3 {
        width: 75%;
        margin-bottom: 190px;
    }
    .signo {
        font-size: 30px;
    }
    .row-3-text {
        font-size: 12px;
    }
    .trapecio {
        display: none;
    }
    .trapecio-movil {
        display: inline;
        position: absolute;
        bottom: 0px;
        right: 0px;
    }
    .trapecio-movil img {
        width: 300px;
        height: 600px;
    }
    .trapecio-img img {
        width: 200px;
        height: 173px;
    }
    .trapecio img{
        width: 250px;
        height: 300px;
    }
    .img-rimac img {
        width: 80px;
        height: 45px;
    }
    .manos {
        display: none;
    }
}