@font-face {
    font-family: formata-light;
    src: url(./Fonts/formata-light.otf);
}
@font-face {
    font-family: HelveticaNowDisplayLight;
    src: url(./Fonts/HelveticaNowDisplayLight.ttf);
} 
@font-face {
    font-family: HelveticaNowDisplayXBd;
    src: url(./Fonts/HelveticaNowDisplayXBd.ttf);
}
@font-face {
    font-family: Formata-Medium;
    src: url(./Fonts/Formata-Medium.otf);
}

*{
    box-sizing: border-box;
}

.container{
    max-width: 850px;
    margin-left: 380px;
    margin-top: 40px;
    position: relative;
}
b {
    font-family: HelveticaNowDisplayXBd;
}
.img-content img{
    width: 850px;
}
.container-body {
    position: absolute;
    top: 0px;
}
.container-body1,
.header-contorno {
    position: relative;
}
.header-body {
    display: flex;
    position: absolute;
    top: 25px;
}
.header-content {
    font-size: 15px;
    font-family: HelveticaNowDisplayLight;
    margin-top: 4px;
    margin-left: 8px;
}
.header-content p {
    margin: 0;
    line-height: 15px;
}
.row-1 {
    margin-left: 80px;
    margin-top: 37px;
    font-family: HelveticaNowDisplayXBd;
    font-size: 73px;
    color: #E6281E;
    line-height: 65px;
}
.row-1 p{
    margin: 0px;
}
.row-2 {
    margin-left: 80px;;
    margin-top: 137px;
    width: 75%;
    font-size: 20px;
    font-family: formata-light;
}
.row-3 {
    color: #E6281E;
    font-family: Formata-Medium;
}

.img-rimac {
    position: absolute;
    bottom: -5px;
    right: 0px;
}
.trapecio {
    position: absolute;
    right: 0px;
    bottom: -4px;
}
.line {
    background-color: #E6281E;
    border: 2px solid #E6281E;
    width: 100%;
}

@media screen and (max-width: 470px){
    .container {
        margin-left: 0px;
        margin-top: 0px;
    }
    .img-content img {
        max-width: 100%;
        height: 280px;
    }
    .header-contorno img{
        width: 45%;
    }
    .header-body {
        top: 19px;
    }
    .header-img img {
        width: 35px;
        height: 28px;
    }
    .header-content {
        font-size: 11px;
        margin-top: 0px;
    }
    .row-1 {
        margin-top: 20px;
        font-size: 53px;
        line-height: 50px;
    }
    .row-2 {
        width: 60%;
        font-size: 15px;
    }
    .row-3 .saludo{
        margin-bottom: 75px;
    }
    .trapecio img{
        width: 250px;
        height: 300px;
    }
    .img-rimac img {
        width: 100px;
        height: 55px;
    }
}
@media screen and (max-width: 380px){
    .header-body {
        top: 10px;
    }
    .header-img img {
        width: 30px;
        height: 25px;
    }
   .header-content {
        font-size: 11px;
        margin-top: 0px;
    }
    .row-1 {
        font-size: 43px;
        line-height: 45px;
        margin-left: 55px;
    }
    .row-2 {
        width: 60%;
        font-size: 12px;
        margin-top: 110px;
        margin-left: 55px;
    }
    .row-3 .saludo{
        margin-bottom: 95px;
    }
    .trapecio img{
        width: 250px;
        height: 300px;
    }
    .img-rimac img {
        width: 100px;
        height: 55px;
    }
}